<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thirupathi Tex</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/312c2aaf87.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="css/styles.css">
    <style media="screen">
      .img-tex{
        width:100%;
      }
      @media all and (max-width:480px)
      {
          .img-tex{
            width:70%;
          }
      }
    </style>
</head>
<body>
  <form action="/" method="POST">
    <div class="home">
      <img class="img-tex"src="img/Tex.png" alt="" height="600px">
      <div class="card register" style="width: 25rem;">
        <div class="card-body box">
          <h2 class="card-title" style="text-align:center;">Create a<br/> new account</h2>
          <br>
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="username" class="form-control" id="exampleInputEmail1" autocomplete="false">
          </div>

          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
          </div>

          <button  type="submit" class="btn btn-primary">Sign Up</button><br><br>
          <div class="">
            <p style="text-align:center;">Already a customer?  <a href="/login">Sign in</a></p>
          </div>


          </div>
        </div>
      </div>

      <br><br><br><br><br><br><br><br><br><br>
      <div class="vision" style="background-color:#FED000; padding-bottom:30px;">
        <div class="vision-heading">
            <h1 style="padding-top:40px;">About Us</h1>
        </div>

        <div class="vision-para">
          <p><b>THIRUPATHI TEX</b> is a textile shop located in Thiruppur.We manufacture and sale- Men's clothings like CASUAL,FORMAL SHIRTS ,T-SHIRTS ,PANTS for around 10 years</p>
        </div>
        <section id="features">
          <div class="row">
            <div class="quality col-lg-4 col-md-6 col-sm-12" style="text-align:center;">
              <i class="far fa-check-circle fa-7x icon"></i>
              <h3 class="icon-h3">Quality Assurance</h3>
              <p class="icon-para">The quality of the product is really nice</p>
            </div>
            <div class="price col-lg-4 col-md-6 col-sm-12" style="text-align:center;">
              <i class="fas fa-rupee-sign  fa-7x icon"></i>
              <h3 class="icon-h3">Affordable Price</h3>
              <p class="icon-para">As we manufacture and sale clothes,the price is completely affordable</p>
            </div>
            <div class="fashion col-lg-4 col-md-6 col-sm-12" style="text-align:center;">
              <i class="fas fa-tshirt fa-7x icon"></i>
              <h3 class="icon-h3">Fashion</h3>
              <p class="icon-para">We have more fashionable clothes for the current Gen.</p>
            </div>
          </div>
        </section>

      </div>
      <div class="products" style="margin-top:40px; padding-bottom:50px;">
        <h1 style="text-align:center; font-size:2.5rem;">Products we have</h1>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <img class="product-img" src="img/tshirts.jfif" alt="">
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <img class="product-img" src="img/shirt.jfif" alt="">
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <img class="product-img" src="img/pant.jfif" alt="">
          </div>

        </div>


      </div>
      <div class="map" style="background-color:#FED000; padding:50px; text-align:center;">
        <h1>Location</h1><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.236940095796!2d77.37442781387138!3d11.095710792105312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba907ae19d4168b%3A0xb727f199a4bd3322!2sThirupathi%20Tex!5e0!3m2!1sen!2sin!4v1621248361192!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="contact" style=" padding:50px; text-align:center;">
        <h1>Contact Us</h1><br>
        <a href="tel:+919843744456" style="padding:20px"><i class="fas fa-phone-alt"></i></a>
        <a href="mailto:thirupathitex111@gmail.com"><i class="fas fa-envelope"></i></a>
       <br><br>
        © Copyright 2021 Thirupathi Tex
      </div>

      <div class="">

      </div>
    </form>

  </body>
</html>
