<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/styles.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <form  action="/product" method="POST">
      <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="#" style="padding:5px 20px ;color:white;">Thirupathi Tex</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#shirts"  style="padding:5px 20px;color:white;">Shirts<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#tshirts"  style="padding:5px 20px;color:white;">T-Shirts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pants"  style="padding:5px 20px;color:white;">Pants</a>
                </li>

              </ul>
            </div>
        </nav>

      </section>

      <section id="shirts" style="padding:50px 120px;">
        <!-- <table>
          <tr>
            <td> -->
              <% items.shirts.forEach(function(item){ %>
              <div class="card  card-img" style="width:18rem; margin-right:50px;">
                <img src="img/<%= item.imgName %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title"><%= item.name %></h5>
                        <p class="card-text">₹<%= item.price %></p></td>
                        <td><a href="/order" name="white001" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
              <% }) %>
            <!-- </td>
            <td>
              <div class="card card-img" style="width: 18rem; margin-right:50px;">
                <img src="img/checkblue.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">BLUE DOTTED | SEMI-FORMALS</h5>
                        <p class="card-text">₹599</p></td>
                        <td><a  href="/order" name="blue002" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
            <td>
              <div class="card card-img" style="width: 18rem; margin-right:50px;">
                <img src="img/checkedbrown.jpeg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">CHECKED BROWN PATTERN | CASUALS</h5>
                        <p class="card-text">₹499</p></td>
                        <td><a  href="/order" name="cbrown003" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
          </tr> -->
           <!-- 2nd row -->
          <!-- <tr>
            <td>
              <div class="card card-img" style="width: 18rem; margin:30px 50px 0 0;">
                <img src="img/blueshirt.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">SOLID BLUE | FORMALS</h5>
                        <p class="card-text">₹599</p></td>
                        <td><a href="/order" name="sblue004" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
            <td>
              <div class="card card-img" style="width: 18rem; margin:30px 50px 0 0;">
                <img src="img/greyshirt.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">SOLID GREY SHIRT | FORMALS</h5>
                        <p class="card-text">₹599</p></td>
                        <td><a href="/order" name="grey005" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
            <td>
              <div class="card card-img" style="width: 18rem; margin:30px 50px 0 0;">
                <img src="img/shirt.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">CHECKED BLUE MAROON|CASUALS</h5>
                        <p class="card-text">₹499</p></td>
                        <td><a href="/order" name="cmaroon006" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
           </tr>
        </table> -->
      </section>

      <!-- tshirts section -->

      <!-- <section id="tshirts" style="padding:50px 120px;">
        <table>
          <tr>
            <td>
              <div class="card card-img" style="width: 18rem; margin-right:50px;">
                <img src="img/greenliril.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">LIRIL GREEN | HALF SLEEVE</h5>
                        <p class="card-text">₹299</p></td>
                        <td><a  href="/order" name="liril101" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
            <td>
              <div class="card card-img" style="width: 18rem; margin-right:50px;">
                <img src="img/coolcucum.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">COOL CUCUMBER | HALF SLEEVE</h5>
                        <p class="card-text">₹299</p></td>
                        <td><a href="/order" name="cucum102" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
            <td>
              <div class="card card-img" style="width: 18rem; margin-right:50px;">
                <img src="img/gym.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">GYM TEES | HALF SLEEVE</h5>
                        <p class="card-text">₹299</p></td>
                        <td><a href="/order" name="gym103" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
          </tr> -->
          <!-- 2nd row -->
          <!-- <tr>
            <td>
              <div class="card card-img" style="width: 18rem; margin:30px 50px 0 0;">
                <img src="img/introvert.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">INTROVERT TEES | HALF SLEEVE</h5>
                        <p class="card-text">₹299</p></td>
                        <td><a href="/order" name="introvert104" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
            <td>
              <div class="card card-img" style="width: 18rem; margin:30px 50px 0 0;">
                <img src="img/navyblue.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">NAVY BLUE | FULL SLEEVE</h5>
                        <p class="card-text">₹349</p></td>
                        <td><a  href="/order" name="navy105" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
            <td>
              <div class="card card-img" style="width: 18rem; margin:30px 50px 0 0;">
                <img src="img/REtshirt.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">RE TEES | HALF SLEEVE</h5>
                        <p class="card-text">₹299</p></td>
                        <td><a href="/order" name="re106" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </section> -->

  <!-- pant section -->

      <!-- <section id="pants" style="padding:50px 120px;">
        <table>
          <tr>
            <td>
              <div class="card card-img" style="width: 18rem; margin-right:50px;">
                <img src="img/blackpantmen.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">BLACK PANT | PLAIN</h5>
                        <p class="card-text">₹699</p></td>
                        <td><a href="/order" name="black201" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
            <td>
              <div class="card card-img" style="width: 18rem; margin-right:50px;">
                <img src="img/brownpant.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">BROWN PANT | SOLID</h5>
                        <p class="card-text">₹699</p></td>
                        <td><a href="/order" name="brown202" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
            <td>
              <div class="card card-img" style="width: 18rem; margin-right:50px;">
                <img src="img/shadedpant.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">LIGHT BROWN PANT | SOLID</h5>
                        <p class="card-text">₹799</p></td>
                        <td><a href="/order" name="lbrown203" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
          </tr> -->
          <!-- 2nd row -->
          <!-- <tr>
            <td>
              <div class="card card-img" style="width: 18rem; margin:30px 50px 0 0;">
                <img src="img/bluejean.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">BLUE JEANS | NORMAL</h5>
                        <p class="card-text">₹799</p></td>
                        <td><a href="/order" name="bluejean204" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
            <td>
              <div class="card card-img" style="width: 18rem; margin:30px 50px 0 0;">
                <img src="img/strippedblack.jpg" class="card-img-top" alt="..." height="380">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">BLACK PANT | STRIPPED</h5>
                        <p class="card-text">₹799</p></td>
                        <td><a href="/order" name="strippedb205" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
            <td>
              <div class="card card-img" style="width: 18rem; margin:30px 50px 0 0;">
                <img src="img/greyjean.jpg" class="card-img-top" alt="..." height="380">
                <div class="card-body">
                  <table>
                    <tr>
                      <td>  <h5 class="card-title">GRAY JEANS | NORMAL</h5>
                        <p class="card-text">₹799</p></td>
                        <td><a href="/order" name="greyjean206" class="btn btn-primary">BUY</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </section> -->


    </form>

  </body>
</html>
